
@{
    ViewBag.Title = "Artikkelit";
}
<div class="row">
    <div class="col-md-12 text-left data3">
        <h4>Lyhyet artikkelit</h4>
        <dl>
            <dd>Robert Brotherus</dd>
            <dt><a href="/jutut/skeptismi.html">Skeptismi - Terve epäily</a></dt>
            
            <dd>Lauri Gröhn</dd>
            <dt><a href="/jutut/pakki.html">Skeptikon kysymyspakki</a></dt>
            
            <dd>Pete Pakarinen</dd>
            <dt><a href="/jutut/homppa.html">Miksi rajatieto kiinnostaa?</a></dt>
            
            <dd>Arno Kotro</dd>
            <dt><a href="/jutut/teeta_ja_homeopatiaa.html">Teetä ja homeopatiaa</a></dt>
            
            <dd>Keskustelusivujen ylläpito</dd>
            <dt><a href="/keskustelu.html">Keskustelusivujen säännöt ja yhteystiedot</a></dt>
        </dl>

        <h4>Pitkät artikkelit ja kirjat</h4>
        <dl>
            <dd>Heta Häyry, Hannu Karttunen ja Matti Virtanen</dd>
            <dt><a href="/jutut/paholaisen_asianajaja/">Paholaisen asianajaja - opaskirja skeptikoille</a></dt>
            
            <dd>Veikko Näntö</dd>
            <dt><a href="/jutut/kynttila-korvassa.html">Kynttilä korvassa</a> (26k)</dt>
            
            <dd>Ilpo V. Salmi</dd>
            <dt><a href="/jutut/einstein.html">Albert Einstein - fyysikko, ihminen, humanisti, pasifisti</a> (37k)</dt>
            <dt><a href="/jutut/ilmastonmuutos.html">Ilmastonmuutos, talvisota vai Harmageddon?</a> (20k)</dt>
            <dt><a href="/jutut/nikeasta_ostoparatiiseihin.html">Nikeasta ostoparatiiseihin</a> (20k)</dt>
            <dt><a href="/jutut/itameri_nyt.html">Itämeri nyt</a>, luento 17.5.2013 Hotelli Ruissalossa (32k)</dt>
            
            <dd>Risto Selin, Ilpo V. Salmi et al.</dd>
            <dt><a href="/jutut/kysy_ja_kyseenalaista.html">Kysy ja Kyseenalaista</a> (4.5M, pdf)</dt>
            
            <dd>Onni Kari-Koskinen, Martti Mela, Pertti Arkko, Ahti Niinimaa</dd>
            <dt><a href="/jutut/maasateilyraportti.html">Maasäteilyraportti</a> (850k, pdf)</dt>
            
            <dd>Vesa Tenhunen</dd>
            <dt><a href="/jutut/virhelista.html">Argumentoinnin virheet</a> (21k)</dt>
            
            <dd>Timo Kaitaro</dd>
            <dt><a href="/jutut/tiede-pseudotiede.html">Miten erottaa tiede pseudotieteestä?</a> (28k)</dt>
            
            <dd>Markku Javanainen, Veijo Saano</dd>
            <dt><a href="/jutut/homeopat.html">Homeopatian taustat ja nykykäytäntö</a> (43k)</dt>
            <dt><a href="/jutut/toimiiko.html">Tehoaako homeopatia ja onko se lääketiedettä?</a> (42k)</dt>
            <dt><a href="/jutut/walle.html">Homeopatia elää tieteen ulkopuolella - vastaus Maarit Walleniukselle</a> (18k)</dt>
            
        </dl>
        <p>Katso myös <a href="http://www.youtube.com/SkepsisFinland">Youtube-sivumme videotallenteet</a>.</p>
        <p>Tässä julkaistut kirjoitukset ja tallenteet ovat niiden tuottajien omia mielipiteitä, eivätkä edusta Skepsiksen tai Skeptikko-lehden toimituksen virallista kantaa.</p>
    </div>
</div>

