
@{
    ViewBag.Title = "Audio- ja videotallenteet";
}

<div class="row">
    <div class="col-md-12 text-left data">
        <h1>Audio- ja videotallenteet</h1>
        <p>Osa Skepsis ry:n yleisöluennoista ja tapahtumista on tallennettu videotallenteina Youtube palveluun.
            Lista tallenteista avautuu tästä linkistä <a href="http://www.youtube.com/user/SkepsisFinland/videos">Videotallenteet</a></p>
    </div>
</div>
