@{
    ViewBag.Title = "Haku";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <script>
  (function() {
    var cx = '011472390052119230568:vfbiqto7cnq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
        </script>
        <gcse:search></gcse:search>
    </div>
</div>
