@{
    ViewBag.Title = "Henkilohistoria";
}
<div class="row">
    <div class="col-md-12 text-left data">
        <h1>Henkilöhistoria</h1>
        <h4>Skepsiksen puheenjohtajat, varapuheenjohtajat ja sihteerit</h4>

        <table>
            <tr><td style="width:130px">1987–1988</td><td>S. Albert Kivinen, Nils Mustelin, Matti Virtanen </td></tr>
            <tr><td>1989</td><td>Nils Mustelin, S. Albert Kivinen, Matti Virtanen</td></tr>
            <tr><td>1990</td><td>Nils Mustelin, Hannu Karttunen, Timo Kaitaro</td></tr>
            <tr><td>1991</td><td>Nils Mustelin, Pekka Roponen, Lauri Gröhn</td></tr>
            <tr><td>1992</td><td>Nils Mustelin, Tytti Sutela, Lauri Gröhn</td></tr>
            <tr><td>1993</td><td>Lauri Gröhn, Hannu Karttunen, Veli Toukomies</td></tr>
            <tr><td>1994</td><td>Veli Toukomies, Timo Kaitaro, Anneli Aurejärvi</td></tr>
            <tr><td>1995–1996</td><td>Ilpo V. Salmi, Timo Kaitaro, Anneli Aurejärvi</td></tr>
            <tr><td>1997–1998</td><td>Ilpo V. Salmi, Kari Enqvist, Veikko Joutsenlahti</td></tr>
            <tr><td>1999</td><td>Jukka Häkkinen, Matias Aunola, Veikko Joutsenlahti</td></tr>
            <tr><td>2000</td><td>Jukka Häkkinen, Otto J. Mäkelä, Veikko Joutsenlahti</td></tr>
            <tr><td>2001–2003</td><td>Jukka Häkkinen, Otto J. Mäkelä, Anna-Liisa Räihä</td></tr>
            <tr><td>2004–2007</td><td>Matias Aunola, Otto J. Mäkelä, Anna-Liisa Räihä</td></tr>
            <tr><td>2008–2012</td><td>Pertti Laine, Otto J. Mäkelä, Anna-Liisa Räihä</td></tr>
            <tr><td>2013</td><td>Otto J. Mäkelä, Heikki Nevala, Anna-Liisa Räihä</td></tr>
            <tr><td>2014–</td><td>Otto J. Mäkelä, Tiina Raevaara, Paula Heinonen</td></tr>
        </table>

        <h4>Merkkihenkilöt</h4>

        <p><b>Kunniapuheenjohtaja</b></p>
        <p>Ilpo V. Salmi • <a href="/IlpoVSalmiMuistokirjoitus">Muistokirjoitus</a></p>

        <p><b>Kunniajäsenet</b></p>
        <p>Raimo Tuomela, Nils Mustelin, S. Albert Kivinen, Veikko Näntö, Anna-Liisa Räihä</p>

        <p><b>Ainaisjäsenet</b></p>

        <p>Johan Silén, Rauni Tiainen, Hannu Karttunen, Risto Selin, Jari Koponen, Kulle Raig</p>
        <p><b>Ansiodiplomit</b></p>

        <p>Pekka Hartola, Veijo Saano, Anneli Aurejärvi, Marketta Ollikainen</p>
    </div>
</div>
