@{
    ViewBag.Title = "Ilpo V. Salmi • Muistokirjoitus";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <p>
            <h2>Ilpo V. Salmi 1926 - 2018</h2>
        </p>
        <p>
            Skepsis ry:n kunniapuheenjohtaja, vararehtori Ilpo Veli Salmi poistui keskuudestamme 22. syyskuuta 2018. Hän oli 92-vuotias, syntynyt Porissa 19. joulukuuta 1926.
        </p><p>
            Vielä 12-vuotiaana Ilpo ei lähtenyt rintamalle isänsä pyynnöstä huolimatta. Hän jäi Poriin, jossa kävi töissä suojeluskunnassa sotilaspoikana ja elintarvikekeskusvarikon lähettinä. Jatkosodan puhjettua Ilpo liittyi vapaaehtoisena ilmatorjuntaan Tampereelle, josta 16-vuotiaan nuoren tie vei Kannaksen kautta lopulta Kotkan ilmatorjuntaan.
        </p><p>
            Sodan jälkeen Ilpo V. Salmi opiskeli töiden ohella sekä Helsingin yliopistossa että Teknillisessä korkeakoulussa, joista hänellä on useita eri alojen tutkintoja. 1950-luvun lopussa Ilpo kiinnostui sukeltamisesta, olihan hän taitava uimari. Hän oli mm. Suomen Sukellusliiton perustajajäsen ja toimi liiton puheenjohtajana vuosina 1966-1971. Samoihin aikoihin hän työskenteli Yleisradiossa,
            jossa sukellusharrastuksesta tuli osa työtä. Hän tutki ja kuvasi useita historiallisia hylkyjä erityisesti Itämeressä.
        </p><p>
            Sukelluskokemuksen myötä Ilpo kiinnostui Itämeren suojelusta ja katsoi Itämeren pelastamisen suomalaisten sukeltajien tärkeimmäksi tehtäväksi. Hän toimi myös aktiivisesti harrastajatutkijana Suomen Merihistoriallisessa yhdistyksessä.
        </p><p>
            Myös arkelogia, erityisesti Egypti, oli Ilpo V. Salmen intohimo ja muinainen Egypti oli hänelle rakas aihe. Hänellä oli laajat tiedot niin egyptiläisten ajanmittauksesta, tähtitieteestä kuin taiteista,
            joista hän kirjoitti useita tieteellisiä artikkeleita. Vuonna 1998 Ilpo jäi eläkkeelle Yleisradion ammattiopiston vararehtorin tehtävästä.
        </p><p>
            Ilpo V. Salmen harrastukset ja tiedot alalta kuin alalta olivat erittäin laajat, edellä kerrotun lisäksi hän harrasti mm. hypnoosia, NLP:tä, joogaleirien vetämistä ja kouluttamista sekä purjehtimista omalla veneellään.
        </p><p>
            Skepsis ry:n puheenjohtajana Ilpo V. Salmi toimi 1995-1998. Hän oli hyvin tarkka siitä, ettei puheillaan loukannut ketään ja oli arvostettu myös yhdistyksemme vastustajien keskuudessa. Hän oli syvällinen tutkijaluonne, aina ”outsider”, kuten hän itseään luonnehti. Hän harrasti hyvin älykästä huumoria, hän kertoi tarinoita, joihin sisältyi aina jokin ”juju”. Esitelmissään hän osasi piikitellä erimieltä olevia humoristisen hienostuneesti niin, ettei siitä kukaan
            voinut loukkaantua.
        </p><p>
            Skepsis ry:n toimintaan Ilpo V. Salmi oli aina vahvasti sitoutunut, opasti ja neuvoi meitä nuorempia aina. Jos yhdistyksen tilaisuuteen ei saatu ajoissa esiintyjää tai esitys peruuntui, hänellä oli aina sopiva esitelmä takataskussa, ja hän tuli mielellään puhumaan. Hän oli innokas yhdistyksen kehittäjä ja ideoita häneltä ei puuttunut.
        </p><p>
            Ilpo V. Salmen uurna laskettiin Sankarivainajien lehtoon hänen syntymäpäivänään 19. joulukuuta. Jäämme kaipaamaan kunniapuheenjohtajaamme.
        </p><p>

            Pertti Laine<br />
            Kirjoittaja toimi Skepsis ry:n puheenjohtajana 2008-2012

        </p>
    </div>
</div>

