@{
    ViewBag.Title = "Keskustelusivuston säännöt";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <h1>Keskustelusivuston säännöt</h1>

        <p>Skepsis ry:n&nbsp;<a href="http://keskustelu.skepsis.fi/">keskustelusivut</a> ovat julkiset ja tarkoitettu Skepsis ry:n kuuluville sekä kuulumattomille henkilöille. Sivuille kirjoittaessasi muista kuitenkin seuraavat säännöt:</p>

        <p>Sivujen aihealueina ovat vain Skepsis ry:n toimintaan liittyvät aiheet eli:</p>
        <ul>
            <li>Paranormaalit ilmiöt</li>
            <li>Pseudotieteet</li>
            <li>UFO:t</li>
            <li>Tieteeseen pohjautumattomat uskomukset</li>
            <li>Tieteelliset teoriat, paranormaalin tiede (jos sellaista löytyy) ja tieteen virheet</li>
            <li>Kansanparannus ja vaihtoehtoiset hoitomuodot</li>
            <li>Astro-, grafo- ym. logiat</li>
        </ul>
        <p>Skepsis ry ei vastaa näillä sivuilla esitetyistä mielipiteistä. Vastuu viestin sisällöstä kuuluu vain kyseisen viestin kirjoittajalle.</p>
        <p>Katso lisätietoja <a href="/">Skepsis ry:n toiminnasta</a>.</p>
        <p>Voit kirjoittaa viestejä nimimerkillä tai omalla nimelläsi. Käytä kuitenkin vain yhtä käyttäjätunnusta: jatkuva nimimerkin vaihto katsotaan häiriköinniksi.</p>
        <p>Politiikka ei kuulu Skepsis ry:n toimintaan, joten keskustelu politiikasta ei kuulu näille sivuille.</p>
        <p>Skepsis ry:n toimintaan liittymättömät viestit siirretään "Muut aiheet" alueelle.</p>
        <p>Keskustelu viestien siirroista, poistoista ja yleisestä moderointipolitiikasta siirretään "Muut aiheet" alueelle.</p>
        <p>Selkeästi väärällä alueella olevat viestit siirretään niitä paremmin vastaavalle alueelle.</p>
        <p>Epäasialliset viestit sekä henkilökohtaisuuksiin menevät viestit poistetaan.</p>
        <p>Jatkuvaan häirintään tai sääntöjen rikkomuksiin syyllistyvät kirjoittajat voidaan sulkea pois keskustelusivuilta joko määräajaksi tai pysyvästi.</p>
        <p>Noudata keskustelussa kohteliaisuutta ja asiallisuutta. Perustele mielipiteesi &ndash; älä vain väitä.</p>
        <p>Toistuva pitkien tekstien kopiointi muilta web-sivuilta ei ole sallittua. Kopioi vain lyhyt ote tekstistä tai tee tekstistä lyhennelmä ja liitä mukaan linkki alkuperäiselle sivulle.</p>
        <p>Keskustelupalstan viestien tilastointi sekä käyttäminen muihin tarkoituksiin saattaa <a href="http://www.finlex.fi/fi/laki/ajantasa/1999/19990523">Henkilötietolain (523/1999)</a> 1. luvun &sect;3 momentin 1 mukaisesti tuottaa henkilörekisterin, jollaisen julkaiseminen johtaa ko. lain yleisten periaatteiden sekä rajoitusten voimaanastumisen. Kyseisen lain rikkomisesta on määrätty sakko ja/tai vahingonkorvausvelvollisuus.</p>
        <p>Viestin talletuksen yhteydessä järjestelmä tallettaa tietokantaan viestin lähettäjän teknisiä tunnisteita, jotka eivät ole julkisia tietoja eikä niitä näytetä viestien yhteydessä.</p>
        <hr />
        <h2>Katso lisätietoja</h2>
        <p>
            <a href="http://www.nixu.fi/~kiravuo/etiketti/">Usenet News-etiketistä</a>, Timo Kiravuo<br />
            <a href="/jutut/virhelista.html">Argumentaation logiikan virheet</a>, Vesa Tenhunen<br />
            <a href="http://yle.fi/aihe/artikkeli/2017/02/28/vesitatko-keskustelun-surkeilla-vaitteilla-nain-tunnistat-laiskan">YLE: Vesitätkö keskustelun surkeilla väitteillä? – Näin tunnistat laiskan argumentoinnin ja keskustelet paremmin</a>
        </p>
        <hr />
        <h2>Keskustelusivujen ylläpito</h2>
        <p>Niko Wessman&nbsp; &nbsp;<a href="mailto:niko.wessman@skepsis.fi">niko.wessman@skepsis.fi</a> </p>
        <h2>Moderaattorit</h2>
        <p>
            <table style="border: medium none currentcolor;">
                <tbody>
                    <tr>
                        <td>
                            Denis Galkin
                        </td>
                        <td><a href="mailto:denis.galkin@skepsis.fi">denis.galkin@skepsis.fi</a>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Matias Takala</td>
                        <td><a href="mailto:matias.takala@skepsis.fi">matias.takala@skepsis.fi</a></td>
                    </tr>
                    <tr>
                        <td>Olli Suhonen</td>
                        <td><a href="mailto:olli.suhonen@skepsis.fi">olli.suhonen@skepsis.fi</a></td>
                    </tr>
                    <tr>
                        <td>Otto J. Mäkelä</td>
                        <td><a href="mailto:otto.makela@skepsis.fi">otto.makela@skepsis.fi</a></td>
                    </tr>
                    <tr>
                        <td>
                            Tomi Vainio
                        </td>
                        <td><a href="mailto:tomi.vainio@skepsis.fi">tomi.vainio@skepsis.fi</a></td>
                    </tr>
                    <tr>
                        <td>Vesa Tenhunen&nbsp;&nbsp;&nbsp; </td>
                        <td><a href="mailto:vesa.tenhunen@skepsis.fi">vesa.tenhunen@skepsis.fi</a></td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
</div>
