
@{
    ViewBag.Title = "Linkkejä";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <h1>Linkkejä</h1>
        <h4>Skeptisiä lehtiä ja kirjoja</h4>
        <dl>
            <dt><a href="http://www.csicop.org/si/">Skeptical Inquirer</a></dt>
            <dd>USA:n skeptikkojen perinteikäs päälehti, julkaisija CSICOP</dd>
            <dt><a href="http://www.skeptic.com/">Skeptic Magazine</a></dt>
            <dd>Amerikkalaisen Skeptics Societyn julkaisema lehti</dd>
            <dt><a href="http://www.skeptic.org.uk/">The Skeptic</a></dt>
            <dd>Englantilainen skeptinen lehti</dd>
            <dt><a href="http://www.hutch.demon.co.uk/prom/">Prometheus Books UK</a></dt>
            <dd>Skeptisen kirjallisuuden ykköskustantaja</dd>
        </dl>
        <h4>Skeptisiä artikkeleita</h4>
        <dl>
            <dt><a href="http://www.skepdic.com/">The Skeptic's Dictionary</a></dt>
            <dd>Robert Carrollin laadukkaita artikkeleita rajatiedon ilmiöistä</dd>
            <dt><a href="http://www.debunker.com/">The Debunker's Domain</a></dt>
            <dd>Robert Sheaffer - Skeptical to the Max</dd>
            <dt><a href="http://www.rationallyspeaking.org/">Rationally Speaking</a></dt>
            <dd>Massimo Pigliucci's Skeptic Web</dd>
            <dt><a href="http://richarddawkins.net/">The official Richard Dawkins website</a></dt>
            <dd>Tunnetun tieteen ja etenkin evoluution popularisoijan sivut</dd>
            <dt><a href="http://www.uio.no/~kjetikj/skeptic/">Kjetil Kjernsmos skeptic page</a></dt>
            <dd>Norjalaisen skeptikon artikkeleita</dd>
            <dt><a href="http://www.quackwatch.com/">Quackwatch: Your Guide to Quackery, Health Fraud, and Intelligent Decisions</a></dt>
            <dd>Tohtori Stephen Barrettin ylläpitämä laaja artikkelikokoelma terveysalan huuhaaväitteistä</dd>
            <dt><a href="http://www.avaruusmgz.info/">Verkkojulkaisu Avaruus</a></dt>
            <dd>Myös kriittistä suomalaista avaruustutkimusta</dd>
            <dt><a href="http://www.skepsis.fi/mustelin/">Nils Mustelinin kotisivut</a></dt>
            <dd>Edesmenneen Skepsis Ry:n kunniajäsenen ja ex-puheenjohtajan skeptisiä artikkeleita</dd>
            <dt><a href="http://mtrsn.burtcom.homeip.net/sfaq_idx.htm">sci.skeptic FAQ</a></dt>
            <dd>Vastauksia kysymyksiin skeptismistä</dd>
            <dt><a href="http://www.skeptictank.org/">Skeptic Tank</a></dt>
            <dd>Alunperin BBS, suuri artikkelivarasto kaikesta skeptistä alaa sivuavia kirjoituksia</dd>
            <dt><a href="http://www.discord.org/skeptical/">Skeptical Information Links</a></dt>
            <dd>Jim Lippardin skeptinen linkkilista</dd>
            <dt><a href="http://www.talkorigins.org/">Talk.origins www-arkistot</a></dt>
            <dd>Uutisryhmän talk.origins arkistot, eli kreationismi vs. evoluutio</dd>
            <dt><a href="http://evolution.berkeley.edu/">Understanding Evolution</a></dt>
            <dd>Moninkertaisesti palkittu Berkeleyn yliopiston evoluutio-tietosivusto opetusmateriaaleineen</dd>
            <dt><a href="http://pera-laine.blogspot.com/">Pertti "Pera" Laine</a></dt>
            <dd>Skepsiksen puheenjohtajan blogi</dd>
        </dl>
        <h4>Skeptisiä ja lähialojen järjestöjä</h4>
        <dl>
            <dt><a href="http://www.csicop.org/resources/organizations.html">Skeptikkoyhdistyksiä ympäri maailmaa</a></dt>
            <dd>CSI:n ylläpitämä lista maailman skeptikkoyhdistyksistä yhteystietoineen</dd>
            <dt><a href="http://www.skeptik.ee/">MTÜ Eesti Skeptik</a></dt>
            <dd>Eestin skeptikkoyhdistys (eestiksi)</dd>
            <dt><a href="http://www.folkvett.nu/">Föreningen Vetenskap och Folkbildning</a></dt>
            <dd>Ruotsin skeptikkoyhdistys (ruotsiksi)</dd>
            <dt><a href="http://www.skepsis.no/">Kritisk unders&oslash;kelse av det uforklarlige, det utrolige og det marginale</a></dt>
            <dd>Skepsiksen norjalainen kaima (norjaksi)</dd>
            <dt><a href="http://www.skeptica.dk/">Netv&aelig;rket af uafh&aelig;ngige danske skeptikere</a></dt>
            <dd>Tanskan skeptikoiden yhdistys (tanskaksi)</dd>
            <dt><a href="http://www.skepsis.nl/">Stichting Skepsis</a></dt>
            <dd>Skepsiksen alankomaalainen kaima (flaamiksi)</dd>
            <dt><a href="http://www.gwup.org/">Gesellschaft zur wissenschaftlichen Untersuchung von Parawissenschaften e.V.</a></dt>
            <dd>Mainiota Skeptiker-lehteä julkaiseva saksalainen skeptikkoyhdistys</dd>
            <dt><a href="http://www.aske.org.uk/">The Association for Skeptical Enquiry</a></dt>
            <dd>Skeptikkoyhdistys Yhdistyneessä kuningaskunnassa</dd>
            <dt><a href="http://www.csicop.org/">Committee for Skeptical Inquiry (entinen CSICOP)</a></dt>
            <dd>USA:n skeptikkojen pääjärjestö, perustettu vuonna 1976</dd>
            <dt><a href="http://www.skeptic.com/">Skeptics Society &amp; Skeptic Magazine</a></dt>
            <dd>USA:n länsirannikon skeptinen järjestö</dd>
            <dt><a href="http://www.cicap.org/en/">Italian Committee for the Investigation of Claims on the Paranormal</a></dt>
            <dd>Italialainen skeptikko-yhdistys CSICOP:n tyyliin</dd>
            <dt><a href="http://www.arp-sapc.org/">Sociedad para el Avance del Pensamiento Cr&iacute;tico</a></dt>
            <dd>Espanjan skeptikkoyhdistys (espanjaksi)</dd>
            <dt><a href="http://www.ecso.org/">ECSO</a></dt>
            <dd>European Council of Skeptical Organisations, Skepsis ry on ECSO:n jäsen</dd>
            <dt><a href="http://www.randi.org/">The James Randi Educational Foundation</a></dt>
            <dd>James Randin perustama valistussäätiö. Katso myös <a href="http://www.randi.org/research/">Randin haaste!</a></dd>
            <dt><a href="http://www.vapaa-ajattelijat.fi/">Vapaa-ajattelijain liitto</a></dt>
            <dd>Vapaa-ajattelijat ulottavat skeptisen kritiikin rajatiedon lisäksi uskontoihin</dd>
            <dt><a href="http://www.kolumbus.fi/humanistiliitto/">Suomen Humanistiliitto</a></dt>
            <dd>Humanistiliitto pyrkii edistämään katsomuksellista tasa-arvoa ja tuo esille humanistista tapakulttuuria</dd>
            <dt><a href="http://www.ncahf.org/">National Council Against Health Fraud</a></dt>
            <dd>Vaihtoehtolääkinnän kritiikkiä</dd>
            <dt><a href="http://www.ursa.fi/">Tähtitieteellinen yhdistys URSA</a></dt>
            <dd>Tähtiharrastajat tietävät, että taivaalla näkyy muutakin kuin UFOja</dd>
            <dt><a href="http://www.feto.fi/">Feto ry.</a></dt>
            <dd>Filosofian ja elämänkatsomustiedon opettajien järjestö pyrkii kehittämään näiden aineiden opetusta</dd>
        </dl>
        <h4>Keskusteluryhmiä ja arkistoja</h4>
        <dl>
            <dt><a href="news:sfnet.keskustelu.skeptismi">sfnet.keskustelu.skeptismi</a></dt>
            <dd>Suomenkielinen skeptinen uutisryhmä</dd>
            <dt><a href="news:sfnet.keskustelu.rajatieteet">sfnet.keskustelu.rajatieteet</a></dt>
            <dd>Suomalainen rajatieteen/tiedon uutisryhmä</dd>
            <dt><a href="news:sfnet.keskustelu.evoluutio">sfnet.keskustelu.evoluutio</a></dt>
            <dd>Suomalainen evoluutio/kreationismi-aiheinen uutisryhmä</dd>
            <dt><a href="news:sci.skeptic">sci.skeptic</a></dt>
            <dd>Englanninkielinen uutisryhmä skeptismistä</dd>
            <dt><a href="news:talk.origins">talk.origins</a></dt>
            <dd>Uutisryhmä, evoluution kannattajat vastaan kreationistit</dd>
            <dt><a href="http://www.nakokulma.net/">Näkökulma</a></dt>
            <dd>www-keskustelufoorumi elämänkatsomuksellisille aiheille; filosofia, uskonto, tiede, yhteiskunta, kulttuuri</dd>
        </dl>
        <h4>Skeptisiä podcasteja (englanniksi)</h4>
        <dl>
            <dt><a href="http://www.forgoodreason.org/">For Good Reason</a></dt>
            <dd>For Good Reason is the interview program hosted by D.J. Grothe, promoting critical thinking and skepticism about the central beliefs of society. Interviews often focus on the paranormal, pseudoscience and the supernatural. The show is produced in association with the <a href="http://www.randi.org/">James Randi Educational Foundation</a>.</dd>
            <dt><a href="http://www.pointofinquiry.org/">Point of Inquiry</a></dt>
            <dd>Point of Inquiry is the premier podcast of the <a href="http://www.centerforinquiry.net/">Center for Inquiry</a>, drawing on CFI's relationship with the leading minds of the day including Nobel Prize-winning scientists, public intellectuals, social critics and thinkers, and renowned entertainers.</dd>
            <dt><a href="http://www.theskepticsguide.org/">The Skeptics' Guide to the Universe</a></dt>
            <dd>The Skeptics' Guide to the Universe is a weekly Podcast talkshow discussing the latest news and topics from the world of the paranormal, fringe science, and controversial claims from a scientific point of view.</dd>
            <dt><a href="http://skeptoid.com/">Skeptoid - Critical analysis of Pop Phenomena</a></dt>
            <dd>Skeptoid is a weekly science podcast dedicated to furthering knowledge by blasting away the widespread pseudosciences that infect popular culture.</dd>
            <dt><a href="http://www.quackcast.com/">Quackcast</a></dt>
            <dd>A podcast review of Quacks, Frauds and Charlatans. Oops. Thats not right. That should be Supplements, Complementary and Alternative Medicine i.e. SCAM.</dd>
        </dl>
        <h4>"Vähän" erikoisempia linkkejä</h4>
        <dl>
            <dt><a href="http://www.bobpark.org/">What's New by Bob Park</a></dt>
            <dd>Usein skeptisiä pikku-uutisia</dd>
            <dt><a href="http://www.museumofhoaxes.com/">The Museum of Hoaxes</a></dt>
            <dd>Huijauksia kautta maailmanhistorian</dd>
            <dt><a href="http://whatstheharm.net/">What's The Harm?</a></dt>
            <dd>Kriittisen ajattelun puutteesta johtuneita onnettomuuksia</dd>
            <dt><a href="http://www.crank.net/">Cranks, Crackpots, Kooks & Loons on the net</a></dt>
            <dd>Laaja linkkikokoelma erilaisten "erikoisten" ihmisten sivustoja</dd>
            <dt><a href="http://www.kotisivut.org/rubik/">Rubik-Web</a></dt>
            <dd>Rubikin kuutio on ratkaisu kaikkiin elämän pulmiin!</dd>
            <dt><a href="http://www.circlemakers.org/">Circlemakers</a></dt>
            <dd>Home of England's crop circle makers</dd>
            <dt><a href="http://www.paranormal.se/">Paranormala fenomen</a></dt>
            <dd>Huolella kasattu ruotsalainen arkisto paranormaaleja asioita käsitteleviä artikkeleita plus paljon muutakin</dd>
            <dt><a href="http://www.argumentti.fi/">Argumentti: tieto, usko, vapaa henkisyys, rationaalisuus - Kriittisen ajattelun ja tieteellisen maailmankuvan puolesta</a></dt>
            <dd>Timo Tiaisen Argumentti-sivusto</dd>
            <dt><a href="http://www.uri-geller.com/">Uri Geller on-line</a></dt>
            <dd>Jotkut pitävät häntä huijarina, toiset uskovat häneen</dd>
            <dt><a href="http://www.physics.nyu.edu/faculty/sokal/">Alan Sokalin kotisivu</a></dt>
            <dd>New York Universityn fysiikan professori joka sai lehden "Social Text" julkaisemaan huuhaa-artikkelinsa</dd>
            <dt><a href="http://www.elsewhere.org/cgi-bin/postmodern/">PoMo-generaattori</a></dt>
            <dd>Ohjelma tuottaa satunnaisen "postmodernin" tekstin</dd>
        </dl>
    </div>
</div>

