@{
    ViewBag.Title = "Mikä Skepsis on?";
}
<div class="row">
    <div class="col-md-12 text-left data">

        <h1>Mikä Skepsis on?</h1>
        <p>Skepsis ry on suomalaisten skeptikkojen vuonna 1987 perustama tieteellinen yhdistys</p>

        <h4>Tarkoitus ja toimintaperiaatteet</h4>

        <p><a href="/Sivut/YhdistyksenSaannot">Skepsiksen sääntöjen</a> mukaan yhdistyksen tarkoitus on:</p>
        <ul>
            <li>Edistää kriittistä ajattelua, <a href="~/Ihmeellinen/tiede.html">tieteellisen tiedon</a> hankintamenetelmien opetusta sekä tieteeseen ja järkeen perustuvaa käsitystä maailmasta.</li>
            <li>Edistää kiisteltyjen tai erityisen poikkeuksellisten väitteiden tieteellistä tarkastelua.</li>
            <li>Edistää keskustelua tieteelliseen maailmankuvaan liittyvistä tärkeistä aiheista.</li>
            <li>Ylläpitää tällaisesta toiminnasta kiinnostuneiden ihmisten verkostoa, järjestää kokouksia ja keskustelu- ja luentotilaisuuksia sekä harjoittaa tiedotus- ja valistustoimintaa.</li>
        </ul>

        <p>Yhdistys on poliittisesti, aatteellisesti sekä uskonnollisesti sitoutumaton tieteellinen ja valistuksellinen järjestö.</p>

        <p>Yhdistyksen hallitus voi hyväksyä hakemuksesta yhdistyksen jäseneksi yksityishenkilöitä ja oikeuskelpoisia yhteisöjä, jotka hyväksyvät edellämainitut yhdistyksen periaatteet.</p>

        <h4>Käytännön toiminta</h4>

        <p>Skepsis ry toimii yhteistyössä <a href="http://www.csicop.org/">CSI</a>:in (Committee for Skeptical Inquiry) ja muiden vastaavien järjestöjen kanssa. Yhdistys on <a href="http://www.ecso.org/">ECSO</a>:n (European Skeptics) ja <a href="http://www.tsv.fi/">Tieteellisten seurain valtuuskunnan</a> jäsenjärjestö.</p>

        <p>Yhdistyksen toiminnan painopiste on ollut paljolti valistuksessa ja tiedotuksessa. Skepsis julkaisee neljä kertaa vuodessa ilmestyvää <a href="/Sivut/SkeptikkoLehdet">Skeptikko-lehteä</a> ja järjestää kuukausittain yleisölle avoimia <a href="/Sivut/Tapahtumat">luento- ja keskustelutilaisuuksia</a>. Skepsis on lisäksi julkaissut kolme paranormaaleja ilmiöitä käsittelevää kirjaa, joista yksi on käännetty viroksi.</p>

        <p>Yhdistyksen tunnetuin toimintamuoto lienee sen vuosittain jakamat <a href="/Sivut/HuuhaaJaSokratesPalkinnot">Huuhaa- ja Sokrates palkinnot</a>. Huuhaa-palkintoa alettiin jakaa vuodesta 1989 lähtien yhteisöille, jotka ovat toiminnallaan olleet edesauttamassa pseudotieteellisten uskomusten leviämistä. Ensimmäisen Huuhaa-palkinnon sai WSOY ”pitkällisestä ja ansiokkaasta toiminnastaan valetieteellisen kirjallisuuden kustantamisen ja levittämisen alueella”. Vuonna 1995 Skepsiksen hallitus päätti perustaa Huuhaa-palkinnon rinnalle Sokrates-palkinnon, jolla se haluaa kannustaa kriittiseen ajatteluun tähtäävää kasvatustyötä.</p>

        <p>Skepsis ry on myös jo usean vuoden ajan tarjonnut <a href="/Sivut/SkepsiksenHaasteJaStipendi">haastetta paranormaaleja kykyjä omaaville henkilöille</a>. Yhdistys on luvannut maksaa 10 000€ sille, joka valvotuissa olosuhteissa tuottaa paranormaalin ilmiön. Vuoden 1996 joulukuusta lähtien on haastesumma voitu maksaa myös humanoidistipendinä sille humanoidille, joka itse noutaa stipendin ja antaa samalla DNA (tai vastaavan) -näytteen.</p>

        <p>Yhdistyksessä on tällä hetkellä (v. 2016) noin 1800 jäsentä ja määrä kasvaa tasaisesti. Valtaosa jäsenhakemuksista jätetään nykyään <a href="/Sivut/LiitySkepsiksenJaseneksi">www-sivujen kautta</a>. Tätä tietä on tullut paljon etenkin nuoria jäseniä.</p>

        <p>Teemme mielellämme myös kouluvierailuja voimavarojemme mukaan. Ottakaa asiassa yhteyttä <a href="/Sivut/Yhteystiedot">puheenjohtajaan tai sihteeriin</a>.</p>

        <p>Lisätietoja yhdistyksen toiminnasta saat <a href="http://www.skepsis.fi/lehti/Skepsis_ry_toimintakertomus_vuodelta_2011.pdf">vuoden 2011 toimintakertomuksesta</a> sekä <a href="/Sivut/SkeptikkoLehdet">Skeptikko-lehdistä</a>.</p>

        <p><a href="/Sivut/SkepsisInEnglish">In English</a> -  <a href="/Sivut/SkepsisPaSvenska">På Svenska</a><p>
    </div>
</div>