
@{
    ViewBag.Title = "Nils Mustelin rahasto";
}
<div class="row">
    <div class="col-md-12 text-left data">
        <table>
            <tbody>
                <tr>
                    <td>
                        <em>Perustettu 07.04.2004</em>
                        <div style="font-size: large;"><strong>SÄÄNNÖT</strong></div>
                    </td>
                    <td>
                        <em>Grundad 07.04.2004</em>
                        <div style="font-size: large;"><strong>STADGAR</strong></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>1. Tarkoitus</strong><br />
                        Rahaston tarkoituksena on antaa taloudellista tukea Skepsiksen toimialaan liittyvään tieteelliseen työhön ja julkaisutoimintaan.
                    </td>
                    <td>
                        <strong>1. ändamål</strong><br />
                        Fondens ändamål är att ekonomiskt stöda sådant vetenskapligt arbete och sådan publiceringsverksamhet som ansluter sig till Skepsis' verksamhetsområde.
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>2. Hallinnointi</strong><br />
                        Rahastoa hoitaa Skepsis ry:n hallitus joka kutsuu 3-5 henkilöä rahaston johtoryhmään. Johtoryhmän toimikausi on sama kuin Skepsis ry:n hallituksen. Jäsenen erotessa kesken toimikauden hänen tilalleen voidaan valita tarvittaessa uusi jäsen. Hallitus päättää apurahojen jakamisesta johtoryhmän ehdotusten pohjalta.
                    </td>
                    <td>
                        <strong>2. Administration</strong><br />
                        Fonden administreras av Skepsis rf's styrelse som kallar 3-5 personer till fondens permanenta ledargrupp. Ledargruppens verksamhetsperiod är densamma som föreningens styrelses. Om en medlem avgår under verksamhetsperioden kan styrelsen vid behov utnämna en ny medlem. Styrelsen besluter om fördelningen av stipendier på basen av ledargruppens förslag.
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>3. Rahaston kartuttaminen</strong><br />
                        a) lahjoituksilla<br />
                        b) yhdistyksen talousarvion ulkopuolisilla tilapäisillä tuloilla<br />
                        c) rahaston pääoman vuotuisella korolla<br />
                        d) yhdistyksen hallituksen päätöksellä yhdistyksen muista varoista tai ylijäämistä
                    </td>
                    <td>
                        <strong>3. Fondens förkovran</strong><br />
                        a) donationer<br />
                        b) tillfälliga inkomster utanför föreningens budget<br />
                        c) årsräntan på fondens kapital<br />
                        d) ur föreningens övriga tillgångar eller överskott, enligt styrelsens beslut
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>4. Rahaston lopettaminen tai sääntöjen muutos</strong><br />
                        Rahasto voidaan purkaa tai sen sääntöjä muuttaa vain yhdistyksen hallituksen esityksestä sen varsinaisen kokouksen päätöksellä. Sääntöjen muutos ei saa koskea rahaston nimeä. Mikäli rahaston toiminta lopetetaan, sen omaisuus on luovutettava rahaston päämääriä vastaavaan tarkoitukseen.
                    </td>
                    <td>
                        <strong>4. Fondens upphörande eller stadgeändring</strong><br />
                        Fonden kan upplösas och dess stadgar ändras endast på föreningens styrelses förslag, vid ett stadgeenligt möte. En stadgeändring får inte gälla fondens namn. Om fondens verksamhet avslutas bör dess tillgångar överlåtas till ändamål som motsvarar fondens syften.
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Rahaston tili: Aktia Pankki HELSFIHH FI07 4055 2920 1082 16</p>
        <h2>Rahaston johtoryhmä</h2>
        <ul>
            <li>LL Linda Mustelin</li>
            <li>FT Hannu Karttunen</li>
            <li>dos. Robert Paul</li>
            <li>Skepsiksen puheenjohtaja emeritus, FT Matias Aunola</li>
        </ul>
        <p>
            <a href="/Mustelin">Lue lisää: Nils Mustelin - www-sivut.</a>
        </p>
        <ul></ul>
    </div>
</div>