
@{
    ViewBag.Title = "Skepsiksen stipendi ja haaste";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <h1>Skepsiksen haaste ja stipendi</h1>

        <h4>Skepsiksen haaste</h4>

        <p>20 000€ puhtaana käteen sille, joka tuottaa valvotuissa olosuhteissa paranormaalin ilmiön.</p>

        <p>Mentalisti Pete Poskiparta ja toimittaja Ivan Puopolo lupautuneet maksamaan kumpikin 5000€, tähtitieteen tohtori Hannu Karttunen ja taikuri Iiro Seppänen kumpikin 2500€ edellämainitusta kokonaissummasta.</p>

        <p>Skepsis muistuttaa, että tämän 20 000€ haasteen voittaja voi matkustaa Yhdysvaltoihin ja ottaa vastaan myös taikuri James Randin vastaavan haasteen, jolle tämä haaste voi myös toimia esitestinä. Randin palkinto on yli US$ 1 000 000!</p>

        <h4>Humanoidistipendi</h4>

        <p>Haastesumma voidaan maksaa myös humanoidistipendinä puhtaana ulottimeen sille humanoidille, joka itse noutaa stipendin ja antaa samalla DNA (tai vastaavan) -näytteen.</p>

        <p>Poikkeustapauksessa summa voidaan myös maksaa (mikäli esimerkiksi henkilötunnuksen tai pankkikortin saanti on osoittautunut humanoidille vaikeaksi) mukana seuraavalle ihmiskontaktiseuralaiselle.</p>

        <h4>Haasteen säännöt</h4>

        <p>Skepsiksen haasteen säännöt, hyväksytty yhdistyksen hallituksen kokouksessa 9.10.1989 ja sittemmin vuosittain uusittu</p>

            <ol>
                <li>Paranormaaleiksi katsotaan tässä kaikki sellaiset ilmiöt, joita vallitsevan tieteellisen käsityksen mukaan voidaan pitää tunnettujen luonnonlakien vastaisina, kuten esimerkiksi telepatia, selvänäköisyys, ns. ennalta tietäminen eli prekognitio, psykokineesi, ruumiistapoistuminen (ns. out of the body experience), veden tai kätkettyjen esineiden löytäminen taikavarvun tms. keinon avulla, astrologisiin menetelmiin perustuva tulkinta, jne. Jos ilmiö tai kyky ei ole katsottavissa paranormaaliksi tai jos se ei ole kokeellisesti testattavissa, se ei kuulu tämän palkinnon piiriin.</li>

                <li>Skepsiksen haasteeseen voi vastata jokainen täysi-ikäinen ja täysivaltainen Suomen kansalainen tai täällä pysyvästi asuva henkilö. Alaikäinen voi vastata haasteeseen holhoojansa kirjallisella suostumuksella.</li>

                <li>
                    Haasteeseen vastaaminen tapahtuu lähettämällä Skepsiksen hallitukselle asiaa koskeva vapaamuotoinen kirje, jossa
                    <ol type="a">
                        <li>selvästi sanotaan, että allekirjoittanut tahtoo vastata Skepsiksen haasteeseen</li>
                        <li>selostetaan, millaisesta paranormaalista ilmiöstä tai kyvystä on kyse</li>
                        <li>on mukana jonkun täysi-ikäisen ja täysivaltaisen Suomen kansalaisen allekirjoittama vakuutus siitä, että haasteeseen vastaaja on osoittanut kuvatun ilmiön tai kyvyn.</li>
                    </ol>
                </li>

                <li>Väitetyn ilmiön tai kyvyn testaa Skepsiksen hallituksen kutakin tapausta varten erikseen valtuuttama asiantuntijaryhmä, joka myös suunnittelee testijärjestelyt.</li>

                <li>Varsinaisen testijärjestelyn suunnittelemiseksi asiantuntijaryhmä voi pyytää haasteeseen vastaajan esitestiin. Esitestin tekee asiantuntijaryhmä tai sen valtuuttama henkilö.</li>

                <li>Jos testiin osallistuminen edellyttää matkustamista testipaikalle, haasteeseen vastaajan on itse huolehdittava matka-, majoitus-, ym. kustannuksista.</li>

                <li>Testijärjestely pyritään suunnittelemaan niin halvaksi kuin mahdollista. Jos testijärjestely kuitenkin synnyttää kustannuksia, ne on haasteeseen vastaajan maksettava. Kun testijärjestelyn hinta on selvillä, se ilmoitetaan haasteeseen vastaajalle, joka voi tässä vaiheessa vielä vetäytyä kokeesta. Muussa tapauksessa tehdään haasteeseen vastaajan ja Skepsis ry:n välinen kirjallinen sopimus testin suorittamisesta, ns. testin esipöytäkirja. Skepsiksen puolesta esipöytäkirjan allekirjoittavat yhdistyksen hallituksen puheenjohtaja ja asiantuntijaryhmän puheenjohtaja.</li>

                <li>
                    Testin esipöytäkirjassa
                    <ol type="a">
                        <li>molemmat osapuolet sitoutuvat noudattamaan näitä Skepsiksen haasteen sääntöjä</li>
                        <li>haasteeseen vastaaja ilmoittaa hyväksyvänsä esipöytäkirjassa kuvatut testijärjestelyt</li>
                        <li>molemmat osapuolet sopivat siitä, millä edellytyksellä vastaajan testisuoritus voidaan katsoa onnistuneeksi tai epäonnistuneeksi</li>
                        <li>vastaaja sitoutuu ottamaan kantaakseen pöytäkirjassa määritellyt testikustannukset ja suorittamaan summan Skepsiksen tilille sovittuun aikaan mennessä</li>
                        <li>Skepsis sitoutuu antamaan palkintosummaa vastaavan shekin haasteeseen vastaajalle käteen välittömästi testisuorituksen onnistuneeksi toteamisen jälkeen. Shekin katteellisuudesta vastaa esipöytäkirjan allekirjoitushetkellä istuva Skepsiksen hallitus yhteisvastuullisesti.</li>
                        <li>sovitaan testin ajasta ja paikasta</li>
                        <li>molemmat osapuolet nimeävät yhden testin suunnittelemiseen ja suorittamiseen osallistumattoman tarkkailijan, jonka tehtävä on testitilanteessa seurata testin sujumista ja allekirjoittaa testipöytäkirja. Kumpikin osapuoli vastaa itse nimeämänsä tarkkailijan matka-, majoitus-, ym. kustannuksista.</li>
                    </ol>
                </li>

                <li>Jos jompikumpi sopimusosapuoli jättää saapumatta testipaikalle sovittuun aikaan ilman pätevää force majeure -syytä poisjäämiseen, katsotaan poisjäänyt luovuttaneeksi. Haasteeseen vastaajan osalta luovutus katsotaan samanmerkityksiseksi kuin testissä epäonnistuminen. Jos luovuttaja on Skepsis, haasteeseen vastaaja on oikeutettu samaan palkintoon kuin jos hän olisi onnistunut testissä. Force majeure -syyn sattuessa sovitaan mahdollisimman pian kirjallisesti uudesta testiajasta ja paikasta. Mahdollisista lisäkustannuksista vastaa saapumatta jäänyt.</li>

                <li>Testin kulusta tehdään testipöytäkirja, johon tulokset kirjataan näiden sääntöjen pykälässä 8g mainittujen tarkkailijoiden varmentamina. Jos tarkkailijoiden kesken syntyy testin aikana erimielisyyttä kokeen kulusta, kiistelty koevaihe uusitaan.</li>

                <li>Testipöytäkirjan ja näiden sääntöjen pykälässä 8c mainittujen yhteisesti sovittujen kriteerien perusteella Skepsiksen asiantuntijaryhmä tulkitsee, onko haasteeseen vastaajan katsottava onnistuneen vai epäonnistuneen suorituksessaan. Tämän tulkintansa asiantuntijaryhmä kirjaa testipöytäkirjaan, josta molemmille sopimusosapuolille annetaan yksi kappale.</li>

                <li>Halutessaan vastaaja voi onnistuneen kokeen jälkeen pyytää palkintosumman suoritettavaksi valitsemalleen Suomessa toimivalle yleishyödylliselle yhteisölle.</li>

                <li>Kokeen tulos ja testiasiakirjat ovat Skepsis ry:n ja haasteeseen vastaajan kummankin vapaasti julkistettavissa.</li>

                <li>Tämä haaste on voimassa niin kauan kuin Skepsis ry:n hallitus sen järjestäytymiskokouksessaan vuosittain uudistaa.</li>

                <li>Näissä säännöissä mainittuja esipöytäkirjaa ja testipöytäkirjaa sekä testin tulosta koskevat erimielisyydet ratkaisee tarvittaessa Helsingin käräjäoikeus.</li>
            </ol>


</div>
</div>.
