@model SkepsisWeb.ViewModels.MagazinesViewModel
@using SkepsisWeb.Helpers

@{
    ViewBag.Title = "Skeptikko-lehdet" + Model.Year;
}
@foreach (SkepsisWeb.Models.Magazine issue in Model.Magazines) {
    SkepsisWeb.ViewModels.MagazineViewModel vm = new SkepsisWeb.ViewModels.MagazineViewModel();
    vm.Magazine = issue;
    vm.MagazineArticles = Model.MagazineArticles.Where(z => z.MagazineID == vm.Magazine.MagazineID);
    @Html.Partial("_Lehti", vm)
}
<div class="row">
    <div class="col-md-12 text-left data">
        <p style="padding-top: 20px; font-size: 10px">
            Kaikkien artikkelien © Copyright Skeptikko-lehti ja artikkelin kirjoittaja.<br />
            Kirjoitukset ovat vapaasti siteerattavissa ja levitettävissä ei-kaupallisiin tarkoituksiin. Lähteeksi tulee mainita kirjoittajan lisäksi Skeptikko-lehti numeroineen.
        </p>
    </div>
</div>


