
@{
    ViewBag.Title = "Skeptikko lehdet";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <h1>Skeptikko-lehti</h1>
        <p><strong>Skeptikko</strong> on Skepsis ry:n neljä kertaa vuodessa ilmestyvä jäsenlehti. Lehteä myydään irtonumeroina Helsingissä 
        <a href="http://www.akateeminen.com/">Akateemisessa Kirjakaupassa</a>,
        <a href="http://www.tiedekirja.fi/">Tiedekirjassa</a>, 
        <a href="http://www.antikvaari.fi/kauppias.asp?myyja=1152">Kirja Waldemarissa</a>, 
        <a href="http://vihreaplaneetta.fi/">Antikvariaatti Vihreä Planeetassa</a>, 
        <a href="https://www.gaudeamus.fi/kirjakahvila/">Gaudeamus Kirja & Kahvi:ssa</a> 
        sekä Espoossa <a href="http://www.tessi.fi/">Antikvariaatti Tessissä</a>.</p>

        <p>
            Skeptikko-lehden voi tilata ja lehden irtonumeroita ostaa Skepsiksen <a href="http://holvi.com/shop/skepsis">verkkokaupasta</a>.
        </p>

        <p>Lehden kunkin vuoden verkkoversioista löydät lehtien sisällysluettelon, lehdistä valikoituja artikkeleita html-muodossa sekä kokonaiset vanhemmat lehdet pdf-muodossa.</p>
        <table border="0">
            <tbody>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td><a href="/lehti/1988/">1988</a></td>
                    <td><a href="/lehti/1989/">1989</a></td>
                </tr>
                <tr>
                    <td><a href="/lehti/1990/">1990</a></td>
                    <td><a href="/lehti/1991/">1991</a></td>
                    <td><a href="/lehti/1992/">1992</a></td>
                    <td><a href="/lehti/1993/">1993</a></td>
                    <td><a href="/lehti/1994/">1994</a></td>
                    <td><a href="/lehti/1995/">1995</a></td>
                    <td><a href="/lehti/1996/">1996</a></td>
                    <td><a href="/lehti/1997/">1997</a></td>
                    <td><a href="/lehti/1998/">1998</a></td>
                    <td><a href="/lehti/1999/">1999</a></td>
                </tr>
                <tr>
                    <td><a href="/lehti/2000/">2000</a></td>
                    <td><a href="/lehti/2001/">2001</a></td>
                    <td><a href="/lehti/2002/">2002</a></td>
                    <td><a href="/lehti/2003/">2003</a></td>
                    <td><a href="/lehti/2004/">2004</a></td>
                    <td><a href="/lehti/2005/">2005</a></td>
                    <td><a href="/lehti/2006/">2006</a></td>
                    <td><a href="/lehti/2007/">2007</a></td>
                    <td><a href="/lehti/2008/">2008</a></td>
                    <td><a href="/lehti/2009/">2009</a></td>
                </tr>
                <tr>
                    <td><a href="/lehti/2010/">2010</a></td>
                    <td><a href="/SkeptikkoLehti/2011">2011</a></td>
                    <td><a href="/SkeptikkoLehti/2012">2012</a></td>
                    <td><a href="/SkeptikkoLehti/2013">2013</a></td>
                    <td><a href="/SkeptikkoLehti/2014">2014</a></td>
                    <td><a href="/SkeptikkoLehti/2015">2015</a></td>
                    <td><a href="/SkeptikkoLehti/2016">2016</a></td>
                    <td><a href="/SkeptikkoLehti/2017">2017</a></td>
                    <td><a href="/SkeptikkoLehti/2018">2018</a></td>
                    <td><a href="/SkeptikkoLehti/2019">2019</a></td>
                </tr>
                <tr>
                    <td><a href="/SkeptikkoLehti/2020">2020</a></td>
                </tr>
            </tbody>
        </table>
        <dl>
            <dt><strong>Julkaisija</strong> </dt>
            <dd>
                Skepsis ry<br />
                Tieteiden talo, Kirkkokatu 6<br />
                00170 Helsinki
            </dd>
            <dt><strong>Toimitus</strong> </dt>
            <dd>
                Risto K. Järvinen<br />
                Närhitie 11<br />
                01450 Vantaa<br />
                <a href="mailto:editor@skepsis.fi">editor@skepsis.fi</a>
            </dd>
            <dt><strong>Päätoimittaja</strong> </dt>
            <dd><a href="/lehti/paatoimittaja.html">Risto K. Järvinen</a> </dd>
            <dt><strong>Toimitusneuvosto</strong> </dt>
            <dd>
                Tapio Kortesaari<br />
                Heikki Nevala<br />
                Jussi K. Niemelä<br />
                Minna Poutanen<br />
                Tiina Raevaara<br />
                <a href="mailto:skeptikko@skepsis.fi">skeptikko@skepsis.fi</a>
            </dd>
        </dl>
        <p>Skepsis ry kieltää Sähköisen viestinnän tietosuojalain (<a href="http://www.finlex.fi/fi/laki/ajantasa/2004/20040516#L7P27">516/2004</a>) 7. luvun 27 &sect; mukaisesti minkään tällä sivulla olevien tietojen käsittelyn suoramarkkinointia, markkina- ja mielipidetutkimusta tai niihin rinnastettavia tarkoituksia varten.</p>
    </div>
</div>
