@{
    ViewBag.Title = "Skepsis på Svenska";
}
<div class="row">
    <div class="col-md-12 text-left data">
        <h1>Vad är Skepsis?</h1>
        <p>Skepsis rf är en år 1987 grundad, vetenskaplig förening för Finlands skeptiker.</p>

        <p>Målsättningar</p>

        <p>Enligt Skepsis stadgar är det föreningens uppgift att:</p>

        <ul>
            <li>Befrämja all objektiv och opartisk vetenskaplig undersökning av påståenden om paranormala fenomen, utan att a priori och före undersökningen slutförts, ta ställning för eller emot.</li>
            <li>Upprätthålla kontakt mellan alla dem, som intresserar sig för dylika undersökningar och med motsvarande organisationer i Finland och utomlands.</li>
            <li>Publicera artiklar och böcker som undersöker påståenden om paranormala fenomen samt upprätta bibliografier över publikationer som innehåller dylika påståenden.</li>
            <li>Organisera möten och konferenser som befrämjar föreningens målsättningar samt idka upplysnings- och informationsverksamhet.</li>
        </ul>

        <p>Skepsis rf idkar samarbete med CSICOP (Committee for the Scientific Investigation of Claims of the Paranormal) och andra liknande organisationer. Föreningen är medlem av ECSO (European Council of Skeptical Organisations) och de Vetenskapliga samfundens delegation.</p>

        <p>Föreningen är politiskt, ideologiskt och religiöst obunden, vetenskaplig organisation.</p>

        <p>Föreningens styrelse kan på anhållan som medlem av föreningen, godkänna privatpersoner och rättsgiltiga samfund, som godkänner föreningens ovannämnda principer.</p>

        <h4>Föreningens verksamhetsformer</h4>

        <p>Verksamhetens tyngdpunkt har hittills i stor utsträckning lagts på upplysning och information. Skepsis publicerar tidningen Skeptikko som utkommer fyra gånger i året och ordnar månatligen för allmänheten öppna föreläsnings- och diskussionstillfällen. Därutöver har Skepsis publicerat tre böcker som behandlar paranormala fenomen, en har översatts till estniska. Föreningen har också deltagit med en egen avdelning på den varje höst återkommande Hengen ja Tiedon messut (”Ande och Vetande”), som specialiserat sig på gränsvetenskaper.</p>

        <p>Den bäst kända verksamhetsform torde vara de Huuhaa-(Humbugs-) och Sokrates-pris som föreningen årligen delar ut. Humbugs-priset har sedan år 1989 delats ut till samfund som genom sin verksamhet har befrämjat spridningen av pseudovetenskapliga trosföreställningar. Det första Humbugspriset fick bokförlaget WSOY ”för långvarig och förtjänstfull verksamhet som förläggare och distributör av pseudovetenskaplig litteratur”. År 1995 beslöt föreningen att utöver Humbugs-priset instifta ett Sokrates-pris, avsett att sporra utbildnings- och annan verksamhet som avser att befrämja kritiskt tänkande.</p>

        <p>Skepsis rf har dessutom, med början för några år sedan, utmanat personer med paranormala förmågor. Föreningen lovar betala 10.000€ åt den, som under kontrollerade förhållanden förmår åstadkomma ett paranormalt fenomen. Sedan december 1996 har en lika stor summa också erbjudits som ett humanoidstipendium till den extraterrestriella humanoid som själv avhämtar priset och samtidigt ger ett prov på sitt DNA (eller motsvarande).</p>

        <h4>Medlemsantalet växer</h4>

        <p>Föreningen har nu (år 2016) över 1800 medlemmar och antalet ökar snabbt. Merparten av medlemsansökningarna, i synnerhet från yngre personer, kommer via föreningens www-sidor (på Finska).</p>

        <p>En mera omfattande redogörelse över föreningens verksamhet och historia finns i tidningen Skeptikko 2/1997 och 1/2002 (på Finska).</p>
    </div>
</div>
