@{
    ViewBag.Title = "Skepsis in English";
}
<div class="row">
    <div class="col-md-12 text-left data">
        <h1>Skepsis in English</h1>

        <p>Skepsis ry, the Finnish association of skeptics, was founded in 1987.</p>

        <h4>Aims and activities</h4>

        <p>According to its rules, the aims of Skepsis are:</p>

        <ul>
            <li>Encouraging the objective and impartial scientific investigation of claims of paranormal phenomena, without rejecting claims on a priori grounds, antecedent to inquiry.</li>
            <li>Creating a network of people interested in critically examining paranormal claims and keeping contact with similar organizations in Finland and abroad.</li>
            <li>Publishing articles and books investigating claims of paranormal phenomena and preparing bibliographies of publications that carefully examine such claims.</li>
            <li>Arranging meetings and conferences on these matters and disseminating factual information.</li>
        </ul>

        <p>Skepsis works in cooperation with CSICOP (Committee for the Scientific Investigation of Claims of the Paranormal) and other similar organizations. Skepsis is a member of ECSO (European Council of Skeptical Organisations) and the Federation of Finnish Learned Societies. Skepsis r.y. is a nonpartisan, nonprofit, scientific and educational organization.</p>

        <h4>Skepsis ry</h4>

        <ul>
            <li>publishes the quarterly magazine Skeptikko</li>
            <li>arranges monthly meetings and discussions</li>
            <li>yearly confers a Huuhaa (= humbug) -prize to an individual or organization who has diligently promoted pseudo- and fringe science and a Socrates-prize for work promoting socratic, rational, thinking</li>
            <li>together with astronomer Hannu Karttunen and magician Iiro Seppänen offers a challenge. Anybody in Finland who can produce paranormal phenomenona under satisfactory observing conditions has a chance to receive 10000€</li>
            <li>is also prepared to pay the same sum as an ET-scholarship to any humanoid who claims it him-/her- or itself and is prepared to give a sample of his/hers/its DNA (or the equivalent)</li>
        </ul>

    </div>
</div>
