@model IEnumerable<SkepsisWeb.Models.Article>
@using SkepsisWeb.Helpers

@{
    ViewBag.Title = "Uutiset";
}
<h1>Uutiset</h1>
<div class="row">
    <div class="col-md-12 text-left data">
        @foreach (SkepsisWeb.Models.Article item in Model) {
            <div>
                <h2>@item.ArticleDatetime.ToString("dd.MM.yyyy") @item.Title</h2>
                <p>@Html.FormatBody(item.Ingress)</p>
                <p>@Html.FormatBody(item.Body)</p>
                <div style="margin-bottom:10px"></div>
            </div>
        }
    </div>
</div>
