@{
    ViewBag.Title = "YhdistyksenSaannot";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <h1>Yhdistyksen säännöt</h1>
        <h4>1. Nimi, kotipaikka ja kielet</h4>

        <p>
            Yhdistyksen nimi on Skepsis ry.<br />
            Yhdistyksen kotipaikka on Helsinki.<br />
            Yhdistyksen kielet ovat suomi ja ruotsi. Rekisteröimis- ja pöytäkirjakieli on suomi.
        </p>

        <h4>2. Tarkoitus ja toimintaperiaatteet</h4>

        <p>Yhdistyksen tarkoitus on:</p>
        <ul>
            <li>Edistää kriittistä ajattelua, tieteellisen tiedon hankintamenetelmien opetusta sekä tieteeseen ja järkeen perustuvaa käsitystä maailmasta.</li>
            <li>Edistää kiisteltyjen tai erityisen poikkeuksellisten väitteiden tieteellistä tarkastelua.</li>
            <li>Edistää keskustelua tieteelliseen maailmankuvaan liittyvistä tärkeistä aiheista.</li>
            <li>Ylläpitää tällaisesta toiminnasta kiinnostuneiden ihmisten verkostoa, järjestää kokouksia ja keskustelu- ja luentotilaisuuksia sekä harjoittaa tiedotus- ja valistustoimintaa.</li>
            <li>Yhdistys on poliittisesti, aatteellisesti sekä uskonnollisesti sitoutumaton.</li>
        </ul>
        <h4>3. Jäsenet</h4>

        <p>Yhdistyksen varsinaiseksi jäseneksi voidaan hyväksyä yksityinen henkilö tai oikeustoimikelpoinen yhteisö, joka hyväksyy näiden sääntöjen kohdassa 2 mainitut yhdistyksen tarkoituksen ja toimintaperiaatteet.</p>

        <p>Kannattavaksi jäseneksi voidaan hyväksyä yksityinen henkilö tai oikeustoimikelpoinen yhteisö, joka haluaa tukea yhdistyksen tarkoitusta ja toimintaa.</p>

        <p>Varsinaiset jäsenet ja kannattavat jäsenet hyväksyy hakemuksesta yhdistyksen hallitus. Kunniapuheenjohtajaksi tai kunniajäseneksi voidaan hallituksen esityksestä yhdistyksen kokouksessa kutsua henkilö, joka on huomattavasti edistänyt ja tukenut yhdistyksen toimintaa.</p>

        <p>Jäsenellä on oikeus erota yhdistyksestä ilmoittamalla siitä kirjallisesti hallitukselle tai sen puheenjohtajalle taikka ilmoittamalla erosta yhdistyksen kokouksessa merkittäväksi pöytäkirjaan.</p>

        <p>Hallitus voi erottaa jäsenen yhdistyksestä, jos jäsen on kehotuksesta huolimatta jättänyt erääntyneen jäsenmaksunsa maksamatta tai on muuten jättänyt täyttämättä ne velvoitukset, joihin hän on yhdistykseen liitymällä sitoutunut tai on menettelyllään yhdistyksessä tai sen ulkopuolella huomattavasti vahingoittanut yhdistystä tai ei enää täytä laissa tai yhdistyksen säännöissä mainittuja jäsenyyden ehtoja.</p>

        <p>Varsinaisilta jäseniltä ja kannattavilta jäseniltä perittävän vuotuisen jäsenmaksun suuruudesta erikseen kummallekin jäsenryhmälle päättää syyskokous.</p>

        <p>Kunniapuheenjohtaja ja kunniajäsenet eivät suorita jäsenmaksua.</p>

        <h4>4. Hallitus</h4>

        <p>Yhdistyksen asioita hoitaa hallitus, johon kuuluvat syyskokouksessa valitut puheenjohtaja ja neljästä kuuteen (4–6) muuta jäsentä.</p>

        <p>Hallituksen toimikausi on kalenterivuosi.</p>

        <p>Hallitus valitsee varapuheenjohtajan, sihteerin, rahastonhoitajan ja muut tarvittavat toimihenkilöt. Varapuheenjohtajan on oltava hallituksen jäsen. Hallitus kokoontuu puheenjohtajan ja hänen estyneenä ollessaan varapuheenjohtajan kutsusta.</p>

        <p>Hallitus on päätösvaltainen, kun läsnä on vähintään puolet jäsenistä ja yksi heistä on puheenjohtaja tai hänen estyneenä ollessaan varapuheenjohtaja. Äänestykset ratkaistaan ehdottomalla enemmistöllä. Äänten mennessä tasaan ratkaisee puheenjohtajan ääni, vaaleissa kuitenkin arpa.</p>

        <p>Yhdistyksessä toimii Skepsis ry:n tieteellinen neuvottelukunta, jonka tarkoitus on toimia asiantuntijoiden verkostona, avustaa hallitusta yhdistyksen toiminnan suunnittelussa sekä järjestää kokouksia ja seminaareja.</p>

        <p>Hallitus nimittää neuvottelukunnalle puheenjohtajan, jolla on läsnäolo- ja puheoikeus hallituksen kokouksissa. Hallitus valitsee myös muut neuvottelukunnan jäsenet kuultuaan ensin neuvottelukunnan puheenjohtajan mielipiteen. Neuvottelukunnan jäsenen toimikausi on kolme vuotta.</p>

        <h4>5. Yhdistyksen nimen kirjoittaminen</h4>

        <p>Yhdistyksen nimen kirjoittaa joko hallituksen puheenjohtaja tai varapuheenjohtaja, jompikumpi yhdessä joko sihteerin tai rahastonhoitajan kanssa.</p>

        <h4>6. Tilit ja talous</h4>

        <p>Yhdistyksen tilikausi on kalenterivuosi. Tilinpäätös tarvittavine asiakirjoineen on annettava tilintarkastajille viimeistään kaksi viikkoa ennen kevätkokousta. Tilintarkastajien tulee antaa kirjallinen lausuntonsa hallitukselle viimeistään viikkoa ennen kevätkokousta.</p>

        <p>Yhdistys voi ottaa vastaan lahjoituksia ja testamentteja.</p>

        <h4>7. Yhdistyksen kokousten koollekutsuminen</h4>

        <p>Yhdistyksen kutsuu koolle hallitus. Kokouskutsu on toimitettava viimeistään kymmenen (10) päivää ennen kokousta joko lähettämällä kutsukirje kullekin jäsenelle tai julkaisemalla kutsu yhdistyksen jäsenlehdessä tai julkaisemalla kutsu syyskokouksen nimeämässä valtakunnallisessa sanomalehdessä.</p>

        <h4>8. Yhdistyksen kokoukset></h4>

        <p>Yhdistys pitää vuosittain kaksi varsinaista kokousta. Yhdistyksen kevätkokous pidetään ennen maaliskuun loppua ja syyskokous lokakuussa tai marraskuussa hallituksen määräämänä päivänä.</p>

        <p>Ylimääräinen kokous pidetään, kun yhdistyksen kokous niin päättää tai kun hallitus katsoo siihen olevan aihetta tai kun vähintään viidesosa (1/5) yhdistyksen jäsenistä sitä hallitukselta kirjallisesti vaatii. Vaatimuksesta on käytävä ilmi, minkä asian vuoksi kokous on tarpeen. Kokous on pidettävä 30 päivän kuluessa vaatimuksen esittämisestä.</p>

        <p>Yhdistyksen kokouksissa on jokaisella varsinaisella jäsenellä, kunniapuheenjohtajalla ja kunniajäsenellä yksi ääni. Kannattavalla jäsenellä on kokouksessa läsnäolo- ja puheoikeus.</p>

        <p>Yhdistyksen päätökseksi tulee, ellei säännöissä ole toisin määrätty, se mielipide, jota on kannattanut yli puolet annetuista äänistä. Äänten mennessä tasaan ratkaisee kokousen puheenjohtajan ääni, vaaleissa kuitenkin arpa.</p>

        <h4>9. Varsinaiset kokoukset</h4>

        <p>Yhdistyksen kevätkokouksessa käsitellään seuraavat asiat:</p>

        <ol>
            <li>kokouksen avaus</li>
            <li>valitaan kokouksen puheenjohtaja, sihteeri, kaksi pöytäkirjantarkastajaa ja kaksi ääntenlaskijaa</li>
            <li>todetaan kokouksen laillisuus ja päätösvaltaisuus</li>
            <li>hyväksytään kokouksen esityslista</li>
            <li>esitetään tilinpäätös, vuosikertomus ja tilintarkastajien lausunto</li>
            <li>päätetään tilinpäätöksen vahvistamisesta ja vastuuvapauden myöntämisestä hallitukselle ja muille vastuuvelvollisille</li>
            <li>käsitellään muut kokouskutsussa mainitut asiat</li>
        </ol>

        <p>Yhdistyksen syyskokouksessa käsitellään seuraavat asiat:</p>

        <ol>
            <li>kokouksen avaus</li>
            <li>valitaan kokouksen puheenjohtaja, sihteeri, kaksi pöytäkirjantarkastajaa ja kaksi ääntenlaskijaa</li>
            <li>todetaan kokouksen laillisuus ja päätösvaltaisuus</li>
            <li>hyväksytään kokouksen esityslista</li>
            <li>vahvistetaan toimintasuunnitelma, tulo- ja menoarvio sekä jäsenmaksun suuruus seuraavalle kalenterivuodelle</li>
            <li>valitaan hallituksen puheenjohtaja ja muut jäsenet</li>
            <li>valitaan kaksi tilintarkastajaa ja heille varatilintarkastajat</li>
            <li>käsitellään muut kokouskutsussa mainitut asiat</li>
        </ol>

        <p>Mikäli yhdistyksen jäsen haluaa saada jonkin asian yhdistyksen kevät- tai syyskokoukseen käsiteltäväksi, hänen on ilmoitettava siitä kirjallisesti hallitukselle niin hyvissä ajoin, että asia voidaan sisällyttää kokouskutsuun.</p>

        <h4>10. Sääntöjen muuttaminen ja yhdistyksen purkaminen</h4>

        <p>Päätös näiden sääntöjen muuttamisesta on tehtävä yhdistyksen kokouksessa vähintään kolmen neljäsosan (3/4) enemmistöllä annetuista äänistä.</p>

        <p>Yhdistyksen purkamisesta voidaan päättää kahdessa vähintään kahden viikon välein pidettävässä peräkkäisessä kokouksessa kummassakin vähintään kolmen neljäsosan (3/4) enemmistöllä annetuista äänistä.</p>

        <p>Kokouskutsussa on mainittava sääntöjen muuttamisesta tai yhdistyksen purkamisesta.</p>

        <p>Yhdistyksen purkauduttua sen varat käytetään yhdistyksen säännöissä mainitun tarkoituksen edistämiseen, purkamisesta päättäneen viimeisen kokouksen edellyttämällä tavalla.</p>
    </div>
</div>
