@{
    ViewBag.Title = "Yhteystiedot";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <p>
            Postiosoite: <strong>Skepsis ry, Tieteiden talo, Kirkkokatu 6, 00170 HELSINKI</strong><br />
            Pankkiyhteys: <strong>IBAN: FI75 7997 7997 4476 07 BIC: HOLVFIHH</strong> <br />
            Sähköposti: <strong>info(at)skepsis.fi</strong> (vaihda merkinnän (at) tilalle &#64;-merkki)<br />
            IRC: <strong>IRCnet: #skepsis</strong> <br />
            Facebook: <strong><a href="https://www.facebook.com/skepsisry/">https://www.facebook.com/skepsisry/</a></strong> | <strong><a href="http://www.facebook.com/groups/skepsisry/">http://www.facebook.com/groups/skepsisry/</a></strong> <br />
            Youtube: <strong><a href="http://www.youtube.com/user/SkepsisFinland">http://www.youtube.com/user/SkepsisFinland</a></strong><br />
            Twitter: <strong><a href="https://twitter.com/SkepsisFinland/">https://twitter.com/SkepsisFinland/</a></strong>
        </p>
        <p>
            <strong>Jäsenasioista</strong> ja lehtitilauksista pyydetään neuvottelemaan asioita hoitavan yhdistyksen sihteerin kanssa sähköpostilla osoitteeseen <br />
            membership(at)skepsis.fi tai puhelimitse 040-820 9166.
        </p>
        <p>
            Skepsis ry kieltää Tietoyhteiskuntakaaren (<a href="https://www.finlex.fi/fi/laki/ajantasa/2014/20140917#L24P202">917/2014</a>) 24. luvun 202 § mukaisesti (aiemmin Sähköisen viestinnän tietosuojalain (<a href="https://www.finlex.fi/fi/laki/alkup/2004/20040516#Pidm2619248">516/2004</a>) 7. luvun 27 § mukaisesti) minkään tällä sivulla olevien tietojen käsittelyn suoramarkkinointia, markkina- ja mielipidetutkimusta tai niihin rinnastettavia tarkoituksia varten.<br />
            <br />
            Kaikkien yhteyshenkilöiden sähköpostiosoitteet ovat muotoa <a href="mailto:etunimi.sukunimi@skepsis.fi">etunimi.sukunimi@skepsis.fi</a> - huomaa, että tällä sivulla olevissa osoitteissa on &#64;-merkki korvattu merkinnällä (at) roskapostin välttämiseksi.
        </p>
        <h2 style="padding-bottom:20px;">Skepsis ry:n hallitus vuonna @DateTime.Now.Year</h2>
        <strong>Puheenjohtaja chairman(at)skepsis.fi </strong>
        <br />
        <a href="http://www.iki.fi/om/">Otto J. Mäkelä</a> <a href="http://twitter.com/ExTechOp"><img src="/kuvat/t_mini-b.png" alt="T" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 040-765 5772<br />
        (hoitaa myös internet-postituslistat)<br />
        <strong>
            <br />
            Varapuheenjohtaja vice-chairman(at)skepsis.fi
        </strong>
        <br />
        Vesa Tenhunen<br />
        puh. 0400-935 893<br />

        <br />
        <strong>Hallituksen muut jäsenet</strong>
        <br />
        Ville Aarnikko <a href="http://twitter.com/Aarnikko"><img src="/kuvat/t_mini-b.png" alt="T" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a> <a href="http://www.facebook.com/ville.aarnikko"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 041-440 3224<br />
        <br />
        Irma Hirsjärvi<br />
        puh. 050-591 5461<br />
        <br />
        Markku Javanainen<br />
        puh. 050-582 6673<br />
        <br />
        Santtu Puukka <a href="http://www.facebook.com/santtu.puukka"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 050-323 9887<br />
        <br />
        Mikko Ville Valjento <a href="http://www.facebook.com/mikkoville"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 040-594 3101<br />
        <br />
        <strong>Taloudenhoitaja</strong> <strong>treasurer(at)skepsis.fi</strong><br />
        Toni Heikkinen<br />
        Härkävuorentie 8, 01260 Vantaa<br />
        puh. 050-537 3792<br />
        <br />
        <strong>Sihteeri </strong> <strong>secretary(at)skepsis.fi</strong><br />
        Paula Heinonen<br />
        Skepsis ry, Tieteiden Talo, Kirkkokatu 6, 00170 Helsinki<br />
        puh. 040-820 9166<br />
        <h2 style="padding-bottom:20px;">Alueyhteyshenkilöt</h2>
        <strong>Joensuu</strong>
        <br />
        Vesa Tenhunen <br />
        puh. 0400-935 893
        <br />
        <strong>
            <br />
            Jyväskylä
        </strong>
        <br />
        Juha Merikoski <br />
        puh. 040-755 1820
        <br />
        <strong>
            <br />
            Kuopio
        </strong> <br />
        Aulis Koivistoinen<br />
        puh. 050-543 9647<br />
        <strong>
            <br />
            Tampere
        </strong>
        <br />
        <a href="http://taikuutta.com/">Jose Ahonen</a> <a href="http://twitter.com/JoseAhonen"><img src="/kuvat/t_mini-b.png" alt="T" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><a href="http://www.facebook.com/jose.ahonen"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 040-558 7497
        <br />
        <strong>
            <br />
            Turku
        </strong>

        <br />
        Heikki Kujanpää <br />
        puh. 0440-220 420
        <br />
        <strong>
            <br />
            Oulu
        </strong>
        <br />
        Sebastian Slotte <br />
        puh. 050-402 3869
        <p>Yhdistys toivoo, että alueilla asuvat ilmoittaisivat yhdyshenkilöille yhteystietonsa, jotta he voisivat tiedottaa omalla alueellaan tapahtuvasta toiminnasta. Yhteyshenkilöille voi myös ilmoittaa halukkuutensa osallistua yhdistyksen toimintaan omalla alueellaan.</p>
        <h2><a id="neuvottelukunta" name="neuvottelukunta">Skepsis-yhdistyksen tieteellinen neuvottelukunta</a></h2>
        <dl>
            <dd>TNK:n puheenjohtaja, prof. Jukka Maalampi (fysiikka)</dd>
            <dd>tohtori Harri Högmander (tilastotiede)</dd>
            <dd>tohtori Virpi Kalakoski (psykologia)</dd>
            <dd>dosentti Hannu Karttunen (tähtitiede)</dd>
            <dd>tohtori Mikko Kiviharju (tietotekniikka)</dd>
            <dd>prof. Hanna Kokko (biologia, ekologia)</dd>
            <dd>prof. Eerik Lagerspetz (yhteiskuntatiede, filosofia)</dd>
            <dd>prof. Hannu Lauerma (lääketiede)</dd>
            <dd>prof. Anto Leikola (biologia, oppihistoria)</dd>
            <dd>dosentti Marjaana Lindeman (psykologia)</dd>
            <dd>dosentti Juha Merikoski (fysiikka)</dd>
            <dd>tohtori Markku Myllykangas (terveyssosiologia)</dd>
            <dd>dosentti Ilkka Pyysiäinen (uskontotiede)</dd>
            <dd>prof. Jeja Pekka Roos (sosiaalipolitiikka) </dd>
            <dd>tohtori Veijo Saano (lääketiede)</dd>
            <dd>prof. Samuli Siltanen (teollisuusmatematiikka)</dd>
        </dl>

        <h2 style="padding-bottom:20px;"><a id="muut" name="muut">Muut</a></h2>
        <strong>Skepsiksen www-keskustelupalstan sekä www-sivujen ylläpito</strong>
        <br />
        Niko Wessman <a href="http://www.facebook.com/niko.wessman"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a>
        <br />
        <a href="http://www.digiahub.com/">NSD Oy</a>
    </div>
</div>
