@{
    ViewBag.Title = "Yhteystiedot";
}
<div class="row">
    <div class="col-md-12 text-left data2">
        <p>
            Postiosoite: <strong>Skepsis ry, Tieteiden talo, Kirkkokatu 6, 00170 HELSINKI</strong><br />
            Pankkiyhteys: <strong>IBAN: FI13 4055 2920 1119 88 BIC: HELSFIHH tai IBAN: FI75 7997 7997 4476 07 BIC: HOLVFIHH</strong> <br />
            Sähköposti: <strong>info(at)skepsis.fi</strong> (vaihda merkinnän (at) tilalle &#64;-merkki)<br />
            IRC: <strong>IRCnet: #skepsis</strong> <br />
            Facebook: <strong><a href="https://www.facebook.com/skepsisry/">https://www.facebook.com/skepsisry/</a></strong> | <strong><a href="http://www.facebook.com/groups/skepsisry/">http://www.facebook.com/groups/skepsisry/</a></strong> <br />
            Youtube: <strong><a href="http://www.youtube.com/user/SkepsisFinland">http://www.youtube.com/user/SkepsisFinland</a></strong><br />
            Twitter: <strong><a href="https://twitter.com/SkepsisFinland/">https://twitter.com/SkepsisFinland/</a></strong>
        </p>
        <p>
            <strong>Jäsenasioista</strong> ja lehtitilauksista pyydetään neuvottelemaan asioita hoitavan yhdistyksen sihteerin kanssa sähköpostilla osoitteeseen <br />
            membership(at)skepsis.fi tai puhelimitse 040-820 9166.
        </p>
        <p>
            Skepsis ry kieltää Tietoyhteiskuntakaaren (<a href="https://www.finlex.fi/fi/laki/ajantasa/2014/20140917#L24P202">917/2014</a>) 24. luvun 202 § mukaisesti (aiemmin Sähköisen viestinnän tietosuojalain (<a href="https://www.finlex.fi/fi/laki/alkup/2004/20040516#Pidm2619248">516/2004</a>) 7. luvun 27 § mukaisesti) minkään tällä sivulla olevien tietojen käsittelyn suoramarkkinointia, markkina- ja mielipidetutkimusta tai niihin rinnastettavia tarkoituksia varten.<br />
            <br />
            Kaikkien yhteyshenkilöiden sähköpostiosoitteet ovat muotoa <a href="mailto:etunimi.sukunimi@skepsis.fi">etunimi.sukunimi@skepsis.fi</a> - huomaa, että tällä sivulla olevissa osoitteissa on &#64;-merkki korvattu merkinnällä (at) roskapostin välttämiseksi.
        </p>
        <h2 style="padding-bottom:20px;">Skepsis ry:n hallitus vuonna @DateTime.Now.Year</h2>
        <strong>Puheenjohtaja chairman(at)skepsis.fi </strong>(hoitaa myös internet-postituslistat)
        <br />
        <a href="http://www.iki.fi/om/">Otto J. Mäkelä</a> <a href="http://twitter.com/ExTechOp"><img src="/kuvat/t_mini-b.png" alt="T" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 040-765 5772
        <br />
        <strong>
            <br />
            Varapuheenjohtaja vice-chairman(at)skepsis.fi
        </strong><br />
        <a href="http://suomenkuvalehti.fi/blogit/tarinoita-tieteesta/">Tiina Raevaara</a> <a href="http://twitter.com/raevaara"><img src="/kuvat/t_mini-b.png" alt="T" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a> <a href="http://www.facebook.com/tiina.raevaara"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 040-827 7531 <br />
        <br />
        <strong>Hallituksen muut jäsenet</strong>
        <br />
        Ville Aarnikko <a href="http://twitter.com/Aarnikko"><img src="/kuvat/t_mini-b.png" alt="T" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a> <a href="http://www.facebook.com/ville.aarnikko"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 041-440 3224<br />
        <br />
        Denis Galkin <a href="http://www.facebook.com/denis.galkin"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 040-769 7403<br />
        <br />
        <a href="http://paholaisen-asianajaja.blogspot.com/">Juha Leinivaara</a> <a href="http://www.facebook.com/juha.leinivaara"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        <br />
        <a href="http://www.kolumbus.fi/heikki.harha/">Heikki "Harha" Nevala</a><br />
        puh. 040-544 2143 <br />
        <br />
        Santtu Puukka <a href="http://www.facebook.com/santtu.puukka"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 050-323 9887<br />
        <br />
        <strong>Taloudenhoitaja</strong> <strong>treasurer(at)skepsis.fi</strong><br />
        Toni Heikkinen<br />
        Keskuskatu 14 B 13, 04600 Mäntsälä<br />
        puh. 050-537 3792<br />
        <br />
        <strong>Sihteeri </strong> <strong>secretary(at)skepsis.fi</strong><br />
        Paula Heinonen<br />
        Skepsis ry, Tieteiden Talo, Kirkkokatu 6, 00170 Helsinki<br />
        puh. 040-820 9166<br />
        <h2 style="padding-bottom:20px;">Alueyhteyshenkilöt</h2>
        <strong>Joensuu</strong>
        <br />
        Vesa Tenhunen <br />
        puh. 0400-935 893
        <br />
        <strong>
        <br />
        Jyväskylä
        </strong>
        <br />
        Juha Merikoski <br />
        puh. 040-755 1820
        <br />
        <strong>
        <br />
        Kuopio
        </strong> <br />
        Aulis Koivistoinen<br />
        puh. 050-543 9647<br />
        <strong>
            <br />
            Tampere
        </strong>
        <br />
        <a href="http://taikuutta.com/">Jose Ahonen</a> <a href="http://twitter.com/JoseAhonen"><img src="/kuvat/t_mini-b.png" alt="T" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><a href="http://www.facebook.com/jose.ahonen"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a><br />
        puh. 040-558 7497
        <br />
        <strong>
        <br />
        Turku
        </strong>
        <br />
        Heikki Kujanpää <br />
        puh. 0440-220 420
        <strong>
            <br />
            <br />
            Oulu
        </strong>
        <br />
        Jouko Salo <br />
        puh. 040-766 0743

        <p>Yhdistys toivoo, että alueilla asuvat ilmoittaisivat yhdyshenkilöille yhteystietonsa, jotta he voisivat tiedottaa omalla alueellaan tapahtuvasta toiminnasta. Yhteyshenkilöille voi myös ilmoittaa halukkuutensa osallistua yhdistyksen toimintaan omalla alueellaan.</p>
        <h2><a id="neuvottelukunta" name="neuvottelukunta">Skepsis-yhdistyksen tieteellinen neuvottelukunta</a></h2>
        <dl>
            <dd>professori <strong>Jukka Maalampi</strong> (puheenjohtaja)</dd>
            <dd>professori <strong>Kari Enqvist</strong></dd>
            <dd>professori <strong>Mika Hemmo</strong></dd>
            <dd>assistentti <strong>Virpi Kalakoski</strong></dd>
            <dd>professori <strong>Hannu Karttunen</strong></dd>
            <dd>dosentti <strong>S. Albert Kivinen</strong></dd>
            <dd>professori <strong>Hanna Kokko</strong></dd>
            <dd>professori <strong>Eerik Lagerspetz</strong></dd>
            <dd>professori <strong>Hannu Lauerma</strong></dd>
            <dd>professori <strong>Anto Leikola</strong></dd>
            <dd>dosentti <strong>Marjaana Lindeman</strong></dd>
            <dd>dosentti <strong>Juha Merikoski</strong></dd>
            <dd>professori <strong>Markku Myllykangas</strong></dd>
            <dd>professori <strong>Ilkka Niiniluoto</strong></dd>
            <dd>dosentti <strong>Ilkka Pyysiäinen</strong></dd>
            <dd>professori <strong>Jeja Pekka Roos</strong></dd>
            <dd>dosentti <strong>Veijo Saano</strong></dd>
            <dd>professori <strong>Anssi Saura</strong></dd>
            <dd>yliassistentti <strong>Lauri Tarkkonen</strong></dd>
            <dd>FL <strong>Tytti Varmavuo</strong></dd>
        </dl>
        <h2 style="padding-bottom:20px;"><a id="muut" name="muut">Muut</a></h2>
        <strong>Skepsiksen www-keskustelupalstan sekä www-sivujen ylläpito</strong>
        <br />
        Niko Wessman <a href="http://www.facebook.com/niko.wessman"><img src="/kuvat/facebook.png" alt="F" style="border: 0px none currentcolor; width: 16px; height: 16px;" /></a>
        <br />
        <a href="http://www.nsd.fi/">NSD Oy</a>
    </div>
</div>
